
.button {
    display: block;
    margin-top: 30px;
}

.formControl {
    margin: 30px;
    min-width: 120px;
}

.MuiSelect-icon-113 {
    /*I should fix the array in another way*/
    position: inherit !important;
}



